@model CastingProject.Models.Talent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Talent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.Gender>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinColor" class="control-label"></label>
                <select asp-for="SkinColor" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.SkinColor>()"></select>
                <span asp-validation-for="SkinColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EyeColor" class="control-label"></label>
                <select asp-for="EyeColor" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.EyeColor>()"></select>
                <span asp-validation-for="EyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label"></label>
                <select asp-for="HairColor" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.HairColor>()"></select>
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinType" class="control-label"></label>
                <select asp-for="SkinType" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.SkinType>()"></select>
                <span asp-validation-for="SkinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairLength" class="control-label"></label>
                <select asp-for="HairLength" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.HairLength>()"></select>
                <span asp-validation-for="HairLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairType" class="control-label"></label>
                <select asp-for="HairType" class="form-control" asp-items="Html.GetEnumSelectList<EnumField.HairType>()"></select>
                <span asp-validation-for="HairType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
