  <footer>
        <div class="content">
            <div class="left box">
                <div class="upper">
                    <div class="topic">About us</div>
                    <p>
                        CodingLab is a channel where you can learn HTML,
                        CSS, and also JavaScript along with creative CSS Animations and Effects.
                    </p>
                </div>
                <div class="lower">
                    <div class="topic">Contact us</div>
                    <div class="phone">
                        <p><i uk-icon="icon: receiver"></i>+007 9089 6767</p>
                    </div>
                    <div class="email">
                        <p><i uk-icon="icon: mail"></i>abc@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="middle box">
                <div class="topic">Our Services</div>
                <div class="topic-link">
                    <ul>
                        <li><a href="#">Web Design, Development</a></li>
                        <li><a href="#">Web Design, Development</a></li>
                        <li><a href="#">Web Design, Development</a></li>
                        <li><a href="#">Web Design, Development</a></li>
                        <li><a href="#">Web Design, Development</a></li>
                    </ul>
                </div>
            </div>
            <div class="right box">
                <div class="topic">Subscribe us</div>
                <form action="#">
                    <input type="text" placeholder="Enter email address">
                    <input type="submit" name="" value="Send">
                    <div class="media-icons">
                        <a href="#"><i uk-icon="icon: facebook"></i> </a>
                        <a href="#"><i uk-icon="icon: instagram"></i></a>
                        <a href="#"><i uk-icon="icon: twitter"></i></a>
                        <a href="#"><i uk-icon="icon: linkedin"></i></a>
                        <a href="#"><i uk-icon="icon: youtube"></i></a>

                    </div>
                </form>
            </div>
        </div>
    </footer>
