<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CastingProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="~/CastingProject.styles.css" asp-append-version="true" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Source+Serif+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/tagify.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body>
    <header>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky ">
            <nav id="main-navbar" class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left logo">
                    <ul class="uk-navbar-nav uk-margin-left">
                        <li><a asp-action="Index" asp-controller="Home">Casting</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-left uk-margin-remove nav-header">
                    <ul class="uk-navbar-nav">
                        <li><a asp-action="Index" asp-controller="Artist">Artist</a></li>
                        <li><a asp-action="Index" asp-controller="Ethnicity">Ethnicity</a></li>
                        <li><a asp-action="Index" asp-controller="Category">Category</a></li>
                        <li><a asp-action="Index" asp-controller="Roles">Role</a></li>
                        <li><a asp-action="Index" asp-controller="Hobby">Hobbies</a></li>
                        <li><a asp-action="Index" asp-controller="Skill">Skills</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right uk-grid account">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
    </header>
    <div class="container" style="min-height:100vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <!-- UIkit JS -->

    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit-icons.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/tagify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


