@{
    ViewData["Title"] = "Home Page";

}
<section id="home">
    <div class="uk-position-top" style="background-color:black;">
        <img src="~/WallPaper/kumari.jpg" alt="Wallpaper" style="height:100vh; object-fit:contain; position:relative; right:-50%" ; />
        <div id="box2">
            <div id="text">
                Welcome<br> To CastingNepal<br>
                <div class="uk-flex">
                    <button class="btn modelhire-btn">Hire Model</button>
                    <button class="btn join-btn">Join</button>
                </div>
            </div>
        </div>
    </div>
</section>


@*Artists Page*@
<div class="uk-margin-small-left uk-margin-small-right" style="margin-top:610px;">
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h2 style="font-size: 35px;font-weight: 600;margin-left: 25px;">Featured Models</h2>
        <span><a asp-action="Index" asp-controller="Artist" uk-icon="chevron-right" style="color:#505050">See more</a></span>

    </div>
    @await Component.InvokeAsync("Artist");
</div>


@*AboutUs Section*@
<div id="aboutUs">
    <div class="uk-margin-bottom about" style="margin-top:10px;">
        <div class="main">
            <img src="~/WallPaper/10.jpg" />
            <div class="all-text">
                <h4 class="uk-margin-bottom-remove ">About Us</h4>
                <h1>A Platform for hiring a models.</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <div class="about-btn">
                    <button type="button" class="about-btn2">Our Testimonials</button>
                    @*<button type="button" class="about-btn2">Learn More</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Blogs")



@*FAQ Section*@
<div>
        <div class="uk-margin-large-top faq-img" style="display:flex; justify-content:center; ">
        <img src="~/WallPaper/faq1.svg" alt="faq" style="height: 100px;margin-bottom: -30px;color: #ffcc33;width: 140px;" uk-svg />
        </div>
    <h2 class="uk-margin-small-bottom" style="text-align:center;">Frequently Asked Questions</h2>
    <div class="uk-margin-medium-top faq-card">
        <div class="faq-title">
            General Questions
        </div>
        <ul class="faq-list" uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#">Is account registration required?</a>
                <div class="uk-accordion-content">
                    <p>
                        Account registration at CastingNepal is only required if you will be casting or hiring models
                        Account registration at CastingNepal is only required if you will be casting or hiring models
                        Account registration at CastingNepal is only required if you will be casting or hiring models
                        Account registration at CastingNepal is only required if you will be casting or hiring models
                        Account registration at CastingNepal is only required if you will be casting or hiring models
                        Account registration at CastingNepal is only required if you will be casting or hiring models.
                    </p>
                </div>
            </li>
            <li class="uk-margin-small-top">
                <a class="uk-accordion-title" href="#">What is the process for casting a model?</a>
                <div class="uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li class="uk-margin-small-top">
                <a class="uk-accordion-title" href="#">How do I change my Password?</a>
                <div class="uk-accordion-content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
            </li>
        </ul>


        <div class="faq-title">
            Casters
        </div>
        <ul class="faq-list" uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#">Is account registration required?</a>
                <div class="uk-accordion-content">
                    <p>Account registration at CastingNepal is only required if you will be casting or hiring models.</p>
                </div>
            </li>
            <li class="uk-margin-small-top">
                <a class="uk-accordion-title" href="#">What is the process for casting a model?</a>
                <div class="uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li class="uk-margin-small-top">
                <a class="uk-accordion-title" href="#">How do I change my Password?</a>
                <div class="uk-accordion-content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
@*</div>*@




@*Testimonials*@
<section class=" uk-margin-large-top uk-margin-large-bottom uk-padding spacer">
    <div class="testimonial-section">
        <div class="testi-user-img">
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="u3" src="~/WallPaper/15.jpg" alt="" style="object-fit:cover;">
                    </div>
                    <div class="swiper-slide">
                        <img class="u1" src="~/WallPaper/17.jpg" alt="" style="object-fit:cover;">
                    </div>
                    <div class="swiper-slide">
                        <img class="u2" src="~/WallPaper/18.jpg" alt="" style="object-fit:cover;">
                    </div>

                    <div class="swiper-slide">
                        <img class="u4" src="~/WallPaper/16.jpg" alt="" style="object-fit:cover;">
                    </div>

                </div>
            </div>
        </div>
        <div class="user-saying">
            <div class="swiper-container testimonial">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper ">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="quote">
                            <img class="quote-icon" src="~/WallPaper/quotation-right-mark.svg" alt="" uk-svg>
                            <p>
                                “This is best and biggest unified platform
                                for instant online admission. We can easily
                                take admission for any course in any institute..“
                            </p>
                            <div class="name">-Ramkishor Verma-</div>
                            <div class="designation">University Student</div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="quote">
                            <img class="quote-icon" src="~/WallPaper/quotation-right-mark.svg" alt="" uk-svg>

                            <p>
                                “This is best and biggest unified platform
                                for instant online admission. We can easily
                                take admission for any course in any institute..“
                            </p>
                            <div class="name">-Ramkishor Verma-</div>
                            <div class="designation">University Student</div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="quote">
                            <img class="quote-icon" src="~/WallPaper/quotation-right-mark.svg" alt="" uk-svg>

                            <p>
                                “This is best and biggest unified platform
                                for instant online admission. We can easily
                                take admission for any course in any institute..“
                            </p>
                            <div class="name">-Ramkishor Verma-</div>
                            <div class="designation">University Student</div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="quote">
                            <img class="quote-icon" src="~/WallPaper/quotation-right-mark.svg" alt="" uk-svg>

                            <p>
                                “This is best and biggest unified platform
                                for instant online admission. We can easily
                                take admission for any course in any institute..“
                            </p>
                            <div class="name">-Ramkishor Verma-</div>
                            <div class="designation">University Student</div>

                        </div>
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>

            </div>
        </div>
    </div>
</section>


@*Contact*@
<section id="contact">
    <div class="uk-child-width-expand@s uk-padding" uk-grid style="min-height:50vh;">
        <div style="">
            <h1 style="color: #111; font-size: 5rem;font-weight: 600;text-align: center; margin-bottom:110px;">
                CastingNepal
            </h1>
            <div class="uk-child-width-expand uk-text-center uk-margin-top " uk-grid>
                <div class="uk-width-1-3@s uk-text-center">
                    <div class="social-icon">
                        <a href="https://www.facebook.com/zookti.makeitsimple/" target="_blank" uk-icon="icon: location">
                        </a>
                    </div>
                    <h2>Location</h2>
                    <span>3rd floor, Karki Bhawan, Anamnagar, Kathmandu, Nepal</span>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="social-icon">

                        <a href="https://www.facebook.com/zookti.makeitsimple/" target="_blank" uk-icon="icon: receiver">
                        </a>
                    </div>
                    <h2>Phone</h2>
                    <span>
                        9851187463<br />
                        9828888954
                    </span>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="social-icon">
                        <a href="https://www.facebook.com/zookti.makeitsimple/" target="_blank" uk-icon="mail">
                            @*<i uk-icon="icon: mail ratio: 2"></i>*@
                        </a>
                    </div>
                    <h2>Email</h2>
                    <span>
                        info@zookti.com<br />
                        zooktico@gmail.com
                    </span>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@s" style="background-color:#ffcc33; padding:36px 45px;  border-radius:7px;">
            <h3 style="text-align: center;font-weight: 600;font-size: 23px;">Contact Us</h3>
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label label-name" for="form-stacked-text">Name</label>
                    <div class="uk-form-controls input-section">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label label-name" for="form-stacked-text">Email</label>
                    <div class="uk-form-controls input-section">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label label-name" for="form-stacked-text">Phone</label>
                    <div class="uk-form-controls input-section">
                        <input class="uk-input" id="form-stacked-text" type="number" placeholder="Phone">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label label-name" for="form-stacked-text">Message</label>
                    <textarea class="uk-textarea textarea-section" rows="3" placeholder="Your Message,Comment,Feedback"></textarea>
                </div>
                <button class="uk-button contact-btn">Send</button>
            </form>
        </div>

    </div>
</section>

@*Location Map*@
<div id="location" class="uk-margin-medium-left uk-margin-medium-right uk-margin-large-bottom uk-margin-medium-top">
    <span style="font-size:17px; margin-bottom:20px;"><strong>Schedule a free consulting session with us.</strong> You can simply contact us by email or call. <br />Or leave your details in the form and we’ll be in touch.</span>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.645518677061!2d85.32702261443413!3d27.6973489325395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199756bed2e3%3A0xdd682247ffbc7355!2sZookti!5e0!3m2!1sen!2snp!4v1647758332989!5m2!1sen!2snp" width="100%" height="500" style="border:0; margin-top:10px;" allowfullscreen="" loading="lazy"></iframe>
</div>




